.bepalmet-text-with-format {

    &.format-controls-wrap {
        margin: 1rem 0;
    }

    &.block-list-wrap {
        background: white;
        padding: 1rem;
        border: 1px solid gray;
        border-radius: 2px;
    }

}