@use './editor.scss' as *;

@layer opening-hours-table, outer-table, inner-table;

@layer opening-hours-table {

    div.bepalmet-custom.opening-hours-table.render.public#opening-hours-table-wrap {
        background-color: whitesmoke;
        color: black;
        text-align: center;
        width: 100%;
        overflow: auto;
        font-size: smaller;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 150;
        letter-spacing: 0.05rem;

        #opening-hours-table-header {
            font-size: x-large;
            font-weight: bolder;
            text-align: center;
            padding-top: 1.5rem;
            margin-bottom: 1rem;
        }

        @layer outer-table {

            table.bepalmet-custom.opening-hours-table.render.public.outer-table[id*=outer-table] {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                border: 3px solid black;
                border-collapse: collapse;
                
                td[id*=outer-table]:first-child {
                    border-right: 3px solid black;
                }

                td.outer-table.location-header#outer-table-location-header-cell {
                    font-size: larger;
                    font-weight: 300;
                    padding: 1%;
                }
                    
                td.outer-table[id*=outer-table]:last-child {
                    border-right: none;
                }

                td.locations-inner#outer-table-locations-inner {
                    min-width: 18rem;
                    table-layout: fixed;
                    width: calc( 100% / sibling-count() );
                    padding: 0 2.5%;
                    height: 1px; //just so inner-table height: 100% works
                }

            }

        }

        @layer inner-table {

            table.bepalmet-custom.opening-hours-table.render.public.inner-table {
                margin-top: 0.5rem;
                border-collapse: collapse;
                width: 100%;
                height: 100%;

                tr.body#inner-table-body {
                    height: 100%;
                }

                td.bepalmet-custom.opening-hours-table.render.public.inner-table[id*=inner-table] {
                    border: 1px solid black;
                    width: 50%;

                    .openings.one-day {  
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        flex-wrap: wrap;
                        margin-right: 0.25rem;
                        
                        span.weekday-name {
                            font-weight: bolder;
                        }

                        span.times {
                            flex-direction: column;

                            span#open-close span#minus:before {
                                content: '\2212';
                            }

                            span.closed-message {
                                font-style: italic;
                            }
                        }
                    }
                    
                    &.contacts {
                        width: fit-content;
                        min-width: 50%;
                        max-width: 90%;

                        .label {
                            margin-top: 1rem;
                            margin-right: auto;
                            margin-left: 5%;
                            text-align: left;
                        }

                        .value {
                            margin-bottom: 1rem;
                            margin-left: auto;
                            margin-right: 5%;
                            text-align: right;

                            &[id*=phone], &[id*=fax], &[id*=mail] {
                                color: -webkit-link;
                                color: blue;
                            }
                        }
                    }
                }

                #inner-table-location-infos {
                    height: 1.5rem;
                }

            }

        }

        div.bepalmet-custom.render.public.one-day {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

    }

}